<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="bean1" class="com.khadri.spring.core.beans.Bean1"/>
  <alias name="bean1" alias="tiffenFood"/>
  <alias name="bean1" alias="lunchFood"/>

  <bean class="com.khadri.spring.core.beans.Bean2"/>
  <bean class="com.khadri.spring.core.beans.Bean2"/>

</beans>